@import url(../../index.css);

.my-data {
  color: var(--font-clr);
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: var(--bgc-clr-body-alt);
}

.MyData__content {
  background-color: var(--bgc-clr-box-alt);
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.MyData__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyData__title h2 {
  font-family: var(--ff-regular);
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.MyData__title a {
  font-family: var(--ff-light);
  font-size: var(--fs-nav-logo);
  text-decoration: none;
  color: var(--font-clr);
}

.MyData__title a:hover {
  transition: all 0.2s ease-in-out;
  opacity: 65%;
}

.MyData__download {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}

.MyData__download a {
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
}

.MyData__download a:hover {
  transition: all 0.2s ease-in-out;
  opacity: 65%;
}

.MyData__name-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 1rem;
}

.MyData__name-contacts h1 {
  font-size: var(--fs-heading);
  font-family: var(--ff-heading);
}

.MyData__name-contacts ul {
  list-style: none;
  font-family: var(--ff-light);
}

.MyData__cv-section {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.MyData__cv-section h2 {
  font-family: var(--ff-light);
  margin-left: 4rem;
}

.MyData__cv-section h3 {
  font-family: var(--ff-regular);
  font-size: var(--fs-paragraph);
  font-weight: bold;
}

.MyData__cv-section p {
  font-family: var(--ff-light);
  font-size: var(--fs-paragraph);
  width: 50ch;
}

.MyData__date {
  font-family: var(--ff-light);
  color: var(--font-clr-alt2);
  margin-bottom: 0.5rem;
}

.MyData__box {
  margin-bottom: 2rem;
}

@media (max-width: 62.5em) {
  .MyData__cv-section {
    flex-direction: column;
    gap: 1rem;
  }
  .MyData__cv-section h2 {
    margin-left: 0;
  }
}

@media (max-width: 50em) {
  .MyData__name-contacts {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .MyData__cv-section p {
    width: auto;
  }
}

@media (max-width: 31.25em) {
  .MyData__content {
    padding: 2rem;
  }
}

@media (max-width: 18.75em) {
  .MyData__content {
    padding: 1rem;
  }
}
