@import url(default.css);

.about {
  background-color: var(--bgc-clr-body-alt);
  color: var(--font-clr);
  padding-top: 10rem;
}

.About__title h2 {
  text-align: center;
  font-family: var(--ff-regular);
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.About__title p {
  text-align: center;
  font-family: var(--ff-regular);
  font-size: var(--fs-large-paragraph);
  margin-bottom: 5rem;
}

.About__box h5 {
  font-family: var(--ff-light);
  font-size: var(--fs-large-paragraph);
  margin-bottom: 1rem;
}

.About__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  background-color: var(--bgc-clr-body);
  padding: 2rem;
  border-radius: 1rem;
}

.About__text-side h2 {
  font-family: var(--ff-regular);
  font-weight: bold;
  font-size: var(--fs-paragraph);
}

.About__text-side p {
  font-family: var(--ff-light);
  font-size: var(--fs-paragraph);
}

.About__img-side img {
  width: 25rem;
}

.About__text-side a {
  color: var(--font-clr);
  font-family: var(--ff-regular);
  text-decoration: none;
}

.About__text-side a:hover {
  transition: all 0.2s ease-in-out;
  opacity: 65%;
}

.About__img img {
  width: 30rem;
  margin: 0 auto;
  padding-bottom: 6rem;
}

@media (max-width: 46.875em) {
  .About__box {
    flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .About__img-side img {
    width: 20rem;
  }
  .About__img {
    margin-top: 2rem;
  }
}

@media (max-width: 18.75em) {
  .About__box {
    padding: 1rem;
  }
}