@import url(default.css);

.contact {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-300);
}

.Contact__title h2 {
  text-align: center;
  font-family: var(--ff-regular);
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.Contact__title p {
  text-align: center;
  font-family: var(--ff-regular);
  font-size: var(--fs-large-paragraph);
}

.Contact__options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact__info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
  gap: 1rem;
}

.Contact__info-img {
  width: 42px;
}

.Contact__text h3 {
  font-family: var(--ff-regular);
  font-size: var(--fs-small-heading);
  font-weight: bold;
}

.Contact__text p,
.Contact__text a {
  font-family: var(--ff-light);
  text-decoration: none;
  color: var(--clr-neutral-300);
}

.Contact__text p:hover,
.Contact__text a:hover {
  cursor: pointer;
  opacity: 65%;
}

@media (max-width: 43.75em) {
  .Contact__options {
    flex-direction: column;
    align-items: center;
  }
  .Contact__info-box {
    flex-direction: column;
    margin: 1.5rem 1rem;
  }
  .Contact__text h3,
  .Contact__text p {
    text-align: center;
  }
}
