@import url(default.css);

.hero {
  background-color: var(--bgc-clr-hero);
  color: var(--font-clr);
  box-shadow: 0px 0px 10px 0px #dddddd;
  padding-top: 15rem;
}

.Hero__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 7rem;
}

.Hero__text p {
  padding-top: 1rem;
  width: 40ch;
}

.Hero__text h1 {
  font-family: var(--ff-regular);
  font-weight: bolder;
  font-size: var(--fs-heading);
}

.Hero__text p,
.Hero__skills p {
  font-size: var(--fs-paragraph);
  font-family: var(--ff-light);
}

.Hero__skills p {
  font-weight: bold;
}

.Hero__img img {
  width: 350px;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}

.Hero__skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Hero__skills p::after {
  content: "|";
}

.Hero__icons ul {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
}

.skill-icon {
  width: 36px;
  -webkit-filter: invert(0.2); /* safari 6.0 - 9.0 */
  filter: invert(0.2);
}

.skill-icon:hover {
  transition: all 0.2s ease-in-out;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 58.125em) {
  .Hero__box {
    flex-direction: column-reverse;
  }
  .Hero__text h1 {
    text-align: center;
  }
  .Hero__text p {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .Hero__skills p::after {
    content: "";
  }
  .Hero__skills {
    flex-direction: column;
  }
  .Hero__icons ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (max-width: 34.375em) {
  .hero {
    padding-top: 8rem;
  }
  .Hero__box {
    margin-bottom: 3rem;
  }
}
