@import url(default.css);

.mydata {
  color: var(--font-clr);
  padding-top: 15rem;
  padding-bottom: 6rem;
  background-color: var(--bgc-clr-body-alt);
}

.MyData__content {
  background-color: var(--bgc-clr-box-alt);
  border-radius: 2rem;
  padding: 4rem;
}
