@import url(default.css);

.pagenotfound {
  background-color: var(--bgc-clr-body);
  color: var(--font-clr);
  height: 100vh;
}

.PageNotFound__content {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PageNotFound__img-content {
  width: 45rem;
}

.PageNotFound__content h1 {
  margin-top: 1.5rem;
  font-family: var(--ff-regular);
  font-weight: bolder;
  font-size: var(--fs-heading);
}

.PageNotFound__content p {
  font-size: var(--fs-paragraph);
  font-family: var(--ff-light);
}

.PageNotFound__content a {
  display: flex;
  gap: 0.5rem;
}

.PageNotFound__content a img {
  -webkit-filter: invert(0.2); /* safari 6.0 - 9.0 */
  filter: invert(0.2);
}

.PageNotFound__content a {
  margin-top: 1rem;
  font-family: var(--ff-regular);
  font-weight: bolder;
  font-size: var(--fs-medium-heading);
  text-decoration: none;
  color: var(--font-clr);
}

.PageNotFound__content a:hover {
  transition: all 0.2s ease-in-out;
  opacity: 65%;
}
