@import url(../../index.css);

.projects {
  background-color: var(--bgc-clr-body);
  color: var(--font-clr);
  margin-bottom: 7rem;
}

.Projects__title img {
  width: 30rem;
  margin: 0 auto;
}

.Projects__title h2 {
  text-align: center;
  font-family: var(--ff-regular);
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.Projects__title p {
  text-align: center;
  font-family: var(--ff-regular);
  font-size: var(--fs-large-paragraph);
  margin-bottom: 2rem;
}

.Projects__slider {
  margin: 0 auto;
}

.Projects__slider .slick-prev:before,
.Projects__slider .slick-next:before {
  color: black;
}

@media (max-width: 37.5em) {
  .Projects__title img {
    margin: 0 auto;
    width: 20rem;
  }
}

@media (max-width: 62.5em) {
  .Projects__slider {
    width: 90%;
  }
}
