@import url(../../index.css);

.nav {
  background-color: var(--bgc-clr-nav);
  color: var(--font-clr);
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: top 0.5s ease-in-out;
}

.nav.visible {
  top: 0;
}

.Navbar__content,
.Navbar__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.Navbar__content {
  margin: 1rem;
}

.Navbar__content a {
  color: var(--font-clr);
  text-decoration: none;
}

.Navbar__options a:hover {
  transition: all 0.2s ease-in-out;
  opacity: 65%;
}

.Navbar__options {
  font-family: var(--ff-regular);
  font-size: var(--fs-nav);
}

.Navbar__logo {
  font-family: var(--ff-heading);
  font-size: var(--fs-nav-logo);
  font-weight: bold;
}
